.image-vertical img{
    cursor: pointer;
    transition: .5s;
}
.image-vertical img:hover{
    cursor: pointer;
    transform: translateX(10px);
}
.Image img{
    cursor: pointer;
    transition: .5s;
}
.Image img:hover{
    cursor: pointer;
    transform: translateX(10px);
}
.btn-cart{
    width: 250px;
}
.btn-availability{
    width: 250px;
}
.btn-rate{
    width: 200px;
}


/*Vertical Images*/
#lbOuter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.3s;
}

#lbOuter.show{
    visibility: visible;
    opacity: 1;
}

#lbInner{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#lbInner img{
    width: 100%;
    height: auto;
    max-width: 1200px;
}



@media (max-width: 280px) {
    .cart_availability_col{
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
    .btn-cart{
        width: 100%;
        margin-top: 15px;
    }
    .btn-availability{
		width: 100%;
        margin-top: 15px;
	}
    .product_first{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product_second{
        padding-bottom: 10px;
    }
    .product_third{
        padding-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .rating_col{
		justify-content: center;
	}
    .btn-rate{
		justify-content: center;
	}
    .star_rating{
        padding-bottom: 30px;
    }
}