@media (max-width: 724px) {
	.user_hello_row{
		display: flex;
        flex-direction: column;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.purchase_button{
        justify-content: start;
        width: 100%;
    }
    .pickup_button{
        justify-content: end;
        width: 100%;
    }
    .col_options{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .signout_button{
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 578px) {
	.purchase_button{
        justify-content: center;
        width: 100%;
    }
    .pickup_button{
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 280px) {
	.purchase_button{
        justify-content: center;
        width: 100%;
    }
    .pickup_button{
        justify-content: center;
        width: 100%;
    }
    .col_options{
        padding: 0px 0px;
    }
}

@media (max-width: 360px) {
	.purchase_button{
        justify-content: center;
        width: 100%;
    }
    .pickup_button{
        justify-content: center;
        width: 100%;
    }
    .col_options{
        padding: 0px 0px;
    }
}