#togglePassword {
	text-decoration: underline blue solid;
	font-size: 14px;
	color: blue;
	cursor: pointer;
}
#togglePassword1{
	text-decoration: underline blue solid;
	font-size: 14px;
	color: blue;
	cursor: pointer;
}
