body{
	margin: auto;
	padding: auto;
	box-sizing: border-box;
}
.helpHeaderNav{
	margin: 5px;
	padding: 2px;
}
.helpHeaderNav>a{
	color: brown;
	font-size: 25px;
}

.helpHeaderNav>a : hover{
	text-decoration: underline;
}

.active{
	background-color: #e6b1d7;
	padding: 2px;
	border-radius: 10px;
}
ul {
	/*list-style-image: url('../images/plus.jpg');*/
	list-style: square outside; 
	margin: 0;
	padding: 0;
}
.faq_index{
	margin: 5px;
	padding: 2px;
}
.page-heading{
	color: #cc4b06
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.questions {
	color: #472e66;
	text-decoration: none;
}
.questions > li > a{
	color: #4e8c94;
	font-size: 18px;
	text-decoration: none;
	text-align: left;
}
.questions > li > a : hover{
	color: #2d393b;
	text-decoration:underline;
}