@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
​
body{color:#777;
    font-family:"Roboto",sans-serif;
    font-size:15px;font-weight:400;
    line-height:1.667;
}

a:hover{
    text-decoration:none;
}

button{
    cursor:pointer;
}

button:focus{
    outline:0;
    box-shadow:none;
}


    
    h1,.h1{
        font-size:50px;
        font-weight:700;
    }
    
    h2,.h2{
        font-size:36px;
        font-weight:600}h3,.h3{font-size:26px;
        font-weight:600;
        }

.sidebar-categories 
.head{
    font-family: 'Oswald', sans-serif;
        line-height: 50px;
        background: #56b66e;
        padding: 0 30px;
        font-size: 18px;
        font-weight: 400;
        color: #fff
}
    
    .sidebar-categories .main-categories{
    padding:20px 28px;
    background:#f1f6f7;
    }    

    .common-filter{
        background:#f1f6f7;
        border-bottom:1px solid #eee;
        padding-bottom:25px;
    }
    
    .sidebar-filter .common-filter{
        padding:28px 0px;
        background:#f1f6f7;
    }

    .filter-list{
        line-height:32px;
    }
    
    .filter-list i{
        margin-right:10px;
        cursor:pointer;
    }
    
    
    .card-product p{
        margin-bottom:0;
    }
    
    .card-product__img{
        position:relative;
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .card{
        border: none !important;
    }
    
    .card-body{
        padding:25px 25px 25px 0;
    }
    
    
    .card-product__imgOverlay{
        background:rgba(255,255,255,0.5);
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        padding:30px 5px;
        transform:translateY(30px);
        opacity:0;
        z-index:-1;
        transition:all .48s ease;
    }
    
    .card-product__imgOverlay li{
        display:inline-block;
    }
    
    .card-product__imgOverlay li button{
        border:0;
        border-radius:0;
        padding:7px 12px;
        background:#82ae46;
    }
    
    .card-product__imgOverlay li button i,.card-product__imgOverlay li button span{
        font-size:15px;
        color:#fff;
        vertical-align:middle;
    }
    
    .card-product__imgOverlay li button:hover{
        background:#56b66e;
    }
    
    .card-product__imgOverlay li:not(:last-child){
        margin-right:5px;
    }
        
    
    .card-product__price,.discount{
        font-size:18px;
        font-weight:400;
    }
    .discount{
        text-align: left !important;
        text-decoration: line-through !important;
        color:#82ae46 !important;
        margin-right: 10px;
       }
    
    .card-product:hover .card-product__imgOverlay{
        opacity:1;
        z-index:1;
        transform:translateY(0);
    }
    
    .card-product:hover .card-product__title a{
        color:#82ae46;
    }
    
    .card-img {
        width:270px;
        height:200px;   
    }
            
   
    .sidebar-filter {        
        margin-top: 40px;
    }
    
    .sidebar-filter .top-filter-head {
        font-family: 'Oswald', sans-serif;
        line-height: 50px;
        background: #56b66e;
        padding: 0 30px;
        font-size: 18px;
        font-weight: 400;
        color: #fff
    }
    
    .sidebar-filter .head {
        line-height: 60px;
        padding: 0 30px;
        font-size: 15px;
        font-weight: 400;
        color: #222;
        text-transform: capitalize
    }

    .sidebar-filter .common-filter {
        background: #f1f6f7;
        border-bottom: 1px solid #eee;
        padding-bottom: 25px
    }
    
    .sidebar-filter .common-filter .filter-list {
        position: relative;
        padding-left: 28px
    }
    
    .sidebar-filter .common-filter:last-child {
        border-bottom: 0
    }
.section-margin--small {
    margin: 35px 0;
}

  .status{
    z-index:10;
    position: absolute;
    top:0;    
    background: #82ae46;
    color:white;
    padding:2px 10px;
}
.outline{
    margin:5px;    
    border: 1px solid #f0f0f0;
    margin-bottom:22px;
    }
    .outline:hover{
        transition:all 1.000s ease;
        box-shadow: 0px 0px 0px 2px rgb(238, 237, 176);
    }  
    .topnav{
        width: 100%;
        padding:5px;
        margin-left:15px;
        margin-bottom:10px;
    }

  select,input[type='submit'],.clear_sort{
    font-family: 'Oswald', sans-serif !important;
  padding:8px;
  border: none;
  border-radius: 4px;
  background-color: #56b66e;
  color:white !important;
  letter-spacing: 1px;
  font-size: large !important;
    }
    select{
        width: 35%;
    }
    a{
        text-decoration: none;
        color: black;
    }