.row{
    margin-top: 50px;
}
.row h3{
    margin-left: 30px;
}
.col-sm-4 .img-circle{
    width: 30%;
    margin-left: 30px;
}
.col-sm-8 .btn {
    margin-top: 60px;
    width: 300px;
    margin-right: 40px;
    padding: 20px;
}
.col-sm-3 ul h4{
    margin-left: 13px;
    margin-bottom: 20px;;
}
.col-sm-3 .btn {
    margin-bottom: 10px;
    
}

